<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Application deadline:</strong>
  <%= @job.application_deadline %>
</p>

<p>
  <strong>Category:</strong>
  <%= @job.category_id %>
</p>



<p>
  <strong>Employers:</strong>
  <%= @job.employers_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
