<div class="" align="center">
    <h1>Job Applications</h1>

    <table id="applicationsbyjobid" class="pure-table pure-table-horizontal">
      <thead>
      <tr>
        <th>Cover</th>
        <th>Date</th>
        <th>Status</th>
        <th>Applicant</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @list.each do |jobapplication| %>
          <tr>
            <td><%= jobapplication.coverletter %></td>
            <td><%= jobapplication.dateofapplication %></td>
            <td><%= jobapplication.status %></td>
            <td><%= link_to jobapplication.jobseeker.name,{controller: "jobseekers" , action: "view" , :id => jobapplication.jobseeker.id, :jobid => jobapplication.job.id}%></td>
            <td><%= link_to 'Change Status', {controller: "jobapplications" , action: "editstatus" , :id => jobapplication.id }%></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Back', my_jobs_path %>