<h1>Listing employers</h1>

  <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
          <th>Company Name</th>
          <th>Admin ID</th>
        </tr>
        </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= employer.company_name %></td>
        <td><%= employer.admin_id %></td>
        <td><%= link_to 'Show', employer %></td>
        <td><%= link_to 'Edit', edit_employer_path(employer) %></td>
        <td><%= button_to 'Destroy', employer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Employer', new_employer_path %>
