<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employer.company_name %>
   <strong>User ID</strong>
  <%= @employer.admin_id %>

</p>
<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
