<h1>Listing admin_users</h1>

<table>
  <thead>
  <tr>
    <th>Admin ID</th>
    <th>Admin Name</th>
    <th>Email ID</th>

    <th colspan="3"></th>
  </tr>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.id %></td>
        <td><%= admin_user.admin_name %></td>
        <td><%= admin_user.email %></td>

        <td><%= link_to 'Edit', edit_admin_user_path(admin_user) %></td>
        <td><%= button_to 'Destroy', admin_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New AdminUser', new_admin_user_path %>
